<div class="color-counter">
  <div class="color-strip" [ngClass]="color + 'Bg'"></div>
  <div>
    <div class="row">
      <ng-container *ngIf="value == null">
        <div class="col-12">
          <div class="number">
            <app-number [source]="colorText + ' count'" [n]="count"></app-number>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="value != null">
        <div class="col-6">
          <div class="number">
            <app-number [source]="colorText + ' count'" [n]="count"></app-number>
          </div>
        </div>
        <div class="col-6">
          <div class="number">
            <app-number [source]="colorText + ' value'" [n]="value"></app-number>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
