<!--<div class="statsbox">-->
<!--  <div class="triangle-statsbox">-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td>Perimeter</td>-->
<!--        <td>-->
<!--          <app-number [source]="'T' + rowCount + ' perimeter'" [n]="perimeter"></app-number>-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Counters</td>-->
<!--        <td>-->
<!--          <app-number [source]="'T' + rowCount + ' counters'" [n]="counters"></app-number>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
