<div class="statsbox">
  <div class="title clickable" (click)="onClick(rowCount)">T{{ rowCount }}</div>
  <div class="triangle-statsbox">
    <div class="heading">Perimeter</div>
    <div class="number">
      <app-number [source]="'T' + rowCount + ' perimeter'" [n]="perimeter"></app-number>
    </div>
    <div class="heading">Counters</div>
    <div class="number">
      <app-number [source]="'T' + rowCount + ' counters'" [n]="counters"></app-number>
    </div>
    <ng-container *ngIf="value != null">
      <div class="heading">Value</div>
      <div class="number">
        <app-number [source]="'T' + rowCount + ' value'" [n]="value"></app-number>
      </div>
    </ng-container>
  </div>
</div>
