<div class="number-wrapper">
  <div class="number clickable text-truncate" [title]="num.toFixed() + ' flipped=' + props.flipped.toFixed()" (click)="onClick(num)">{{ num.toFixed() }}</div>
  <div class="stats">
    <div class="row no-gutters">
      <div class="col clickable" (click)="onClick(props[37])">
        <div class="text-truncate" [ngClass]="props[37] ? 'textGood' : 'textBad'">
          <span>37</span>
          <span *ngIf="props[37]">x{{ props[37] }}</span>
        </div>
      </div>
      <div class="col clickable" (click)="onClick(props[73])">
        <div class="text-truncate" [ngClass]="props[73] ? 'textGood' : 'textBad'">
          <span>73</span>
          <span *ngIf="props[73]">x{{ props[73] }}</span>
        </div>
      </div>
      <div class="col clickable" (click)="onClick(props.T)">
        <div class="text-truncate" [ngClass]="props.T ? 'textGood' : 'textBad'">
          <span>T</span>
          <span *ngIf="props.T">{{ props.T }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
