@import '../../../colors.scss';

.textGood, .textBad {
  font-size: 12px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

.textGood {
  color: $appYellow;
}

.textBad {
  opacity: 0.15;
}
