@import '../../../colors.scss';

.activeProp {
  font-size: 12px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  color: $appYellow;
}

:host-context(.table.table-hover tbody tr:hover) {
  .activeProp {
    color: #888;
  }
}
