@import '../../../colors.scss';

.counter {
  display: inline-block;
  border-radius: 90px;
  pointer-events: auto;
  cursor: pointer;
  width: 10px;
  height: 10px;

  &.spin {
    animation: spin 2s linear infinite;  /* duration must be same as spinInterval */
  }
}

.triangle-row {
  pointer-events: none;
  padding-left: 9px;
  padding-right: 9px;

  &.triangle-align-center {
    margin: -14px auto;
    text-align: center;

    .counter {
      margin-left: 1px;
      margin-right: 1px;
    }
  }
  &.triangle-align-left {
    text-align: left;
    margin-top: -12px;

    .counter {
      margin-left: 1px;
      margin-right: 1px;
    }
  }
}
