<ng-container *ngFor="let row of rows; index as i">
  <div class="triangle-row" [ngClass]="alignCenter ? 'triangle-align-center' : 'triangle-align-left'" [style.width.px]="(i + 1) * (zoom ? 62 : 12) + 18">
    <ng-container *ngFor="let counter of row">
      <div class="counter" (click)="onCounterClick(counter)"
           [class.appActiveBg]="counter.active" [class.spin]="counter.spin" [ngClass]="counter.color + 'Bg'"
           [title]="'(' + counter.pos.row + ', ' + counter.pos.col + ') count=' + counter.count.toFixed() + (counter.value == null ? '' : ' value=' + (counter.value ? counter.value.toFixed() : null))">
        <ng-container *ngIf="zoom">
          <app-counter-value [value]="counter.value" [hebrewLetter]="hebrewLetter"></app-counter-value>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
