@import '../../../colors.scss';

:host-context(.triangle-small) {
  .counter {
    width: 10px;
    height: 10px;
  }

  .triangle-row.triangle-align-center {
    margin: -14px auto;
  }

  .triangle-row.triangle-align-left {
    margin-top: -12px;
  }
}

:host-context(.triangle-big) {
  .counter {
    width: 60px;
    height: 60px;
  }

  .triangle-row.triangle-align-center {
    margin: -7px auto;
  }

  .triangle-row.triangle-align-left {
    margin-top: 2px;
  }
}

.counter {
  display: inline-block;
  border-radius: 90px;
  pointer-events: auto;
  cursor: pointer;

  &.spin {
    animation: spin 2s linear infinite; /* duration must be same as spinInterval */
  }
}

.counter-value {
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  font-size: 12px;
  text-align: center;
}

.appActiveBg, .appRedBg, .appGreenBg, .appOrangeBg, .appBlueBg {
  .counter-value {
    color: #FFF;
  }
}

.appGreyBg, .appPinkBg {
  .counter-value {
    color: #000;
  }
}

.triangle-row {
  pointer-events: none;
  padding-left: 9px;
  padding-right: 9px;

  &.triangle-align-center {
    text-align: center;

    .counter {
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  &.triangle-align-left {
    text-align: left;

    .counter {
      margin-left: 1px;
      margin-right: 1px;
    }
  }
}
