<div class="title">T{{ rowCount }}</div>

<ng-container *ngFor="let row of rows">
  <div class="triangle-row">
    <ng-container *ngFor="let counter of row">
      <i (click)="onCounterClick(counter)" class="fa fa-circle counter" [title]="'row ' + counter.pos.row + ' pos ' + counter.pos.col" [ngClass]="counter">
      </i>
    </ng-container>
  </div>
</ng-container>

<div class="summary">
  <table>
    <tr>
      <td>perimeter</td>
      <td>counters</td>
      <td>selected</td>
    </tr>
    <tr>
      <td>{{ perimeter }}</td>
      <td>{{ counters }}</td>
      <td>{{ selected }}</td>
    </tr>
  </table>
</div>
