.title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.triangle-row {
  text-align: center;
}

.summary {
  width: 150px;
  margin: 20px auto 0;

  table {
    width: 100%;

    td {
      text-align: center;
    }
  }
}
