$bibleVerseTop: 130px;

.values {
  background-color: #2B2B2B;
  padding-bottom: 20px;
}

.bible-verse {
  pointer-events: none;
  margin-top: -5px;
  margin-bottom: -22px;
  position: sticky;
  top: $bibleVerseTop;
  z-index: 3;
}

.bible-verse-inner {
  width: 60%;
  padding: 5px 0 7px;
  background-color: #2B2B2B;
}

.bible-verse-background {
  margin-bottom: -26px;
  background-color: #2B2B2B;
  position: sticky;
  top: $bibleVerseTop;
  z-index: 1;
}

.values-builder-wrapper {
  margin-top: 59px;
  position: fixed;
}

.values-summary-wrapper {
  position: fixed;
}
