<div class="values">
  <div [ngClass]="mode">

    <div class="buttons-bar-wrapper sticky-buttons-bar">
      <app-sticky-buttons-bar>
        <div class="buttons-left">
          <app-back-button></app-back-button>
        </div>
        <div class="buttons-right">
          <button class="btn btn-sm btn-primary" [disabled]="mode === 'Chapter'" (click)="showChapters()">Chapters</button>
          <button class="btn btn-sm btn-primary" [disabled]="mode === 'Verse'" (click)="showVerses()">Verses</button>
        </div>
      </app-sticky-buttons-bar>
    </div>

    <div class="datagrid-wrapper">
      <dx-data-grid [dataSource]="items" [hoverStateEnabled]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                    (onRowClick)="showChapterVerses($event)">
        <dxo-column-chooser [enabled]="true" mode="dragAndDrop"></dxo-column-chooser>
        <dxo-search-panel [visible]="true" placeholder="Search"></dxo-search-panel>
        <!-- <dxo-state-storing [enabled]="true" type="localStorage" storageKey="datagrid-values"></dxo-state-storing> -->
        <dxo-scrolling mode="virtual"></dxo-scrolling>

        <!-- Chapter or verse -->
        <dxi-column dataField="number" alignment="right" sortOrder="asc"
                    [caption]="mode === 'ChapterVerse' ? 'Verse' : mode" [sortingMethod]="sortNumbers"></dxi-column>
        <dxi-column dataField="item" caption="Reference" [sortingMethod]="sortReference"></dxi-column>

        <dxi-column dataField="letterCount" alignment="right" [sortingMethod]="sortNumbers"></dxi-column>
        <dxi-column dataField="letterCount" caption="LC Breakdown" cellTemplate="dxTemplateNumber"
                    [calculateCellValue]="calculateLetterCount" [calculateFilterExpression]="filterCalculatedCell"
                    [visible]="breakdown" [sortingMethod]="sortBreakdown"></dxi-column>

        <dxi-column dataField="wordCount" alignment="right" [sortingMethod]="sortNumbers"></dxi-column>
        <dxi-column dataField="wordCount" caption="WC Breakdown" cellTemplate="dxTemplateNumber"
                    [calculateCellValue]="calculateWordCount" [calculateFilterExpression]="filterCalculatedCell"
                    [visible]="breakdown" [sortingMethod]="sortBreakdown"></dxi-column>

        <dxi-column dataField="standard" alignment="right" [sortingMethod]="sortNumbers"></dxi-column>
        <dxi-column dataField="standard" caption="Std Breakdown" cellTemplate="dxTemplateNumber"
                    [calculateCellValue]="calculateStandard" [calculateFilterExpression]="filterCalculatedCell"
                    [visible]="breakdown" [sortingMethod]="sortBreakdown"></dxi-column>

        <dxi-column dataField="ordinal" alignment="right" [sortingMethod]="sortNumbers"></dxi-column>
        <dxi-column dataField="ordinal" caption="Ord Breakdown" cellTemplate="dxTemplateNumber"
                    [calculateCellValue]="calculateOrdinal" [calculateFilterExpression]="filterCalculatedCell"
                    [visible]="breakdown" [sortingMethod]="sortBreakdown"></dxi-column>

        <div *dxTemplate="let data of 'dxTemplateNumber'">
          <div class="dxTemplateNumber">
            <span>{{ data.value }}</span>
          </div>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
