<div class="values">

  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <div class="buttons-bar-wrapper sticky-buttons-bar">
          <app-sticky-buttons-bar>
            <div class="buttons-right">
              <button class="btn btn-sm btn-primary" [disabled]="mode === 'Chapter'" (click)="showChapters()">Chapters</button>
              <button class="btn btn-sm btn-primary" [disabled]="mode === 'Verse'" (click)="showVerses()">Verses</button>
            </div>
          </app-sticky-buttons-bar>
        </div>

        <div class="bible-verse">
          <div class="bible-verse-inner">
            <div [ngClass]="{'d-none': lang !== 'en'}">
              <app-bible-api-dot-com [ref]="bible.ref"></app-bible-api-dot-com>
            </div>
            <div [ngClass]="{'d-none': lang !== 'he'}">
              <app-hebrew-text [ref]="bible.ref" [text]="bible.text"></app-hebrew-text>
            </div>
          </div>
        </div>
        <div class="bible-verse-background">&nbsp;</div>

        <app-values-datagrid [breakdown]="breakdown" (activeRowChange)="bibleRefChange($event)" (langToggle)="langToggle()" (modeChange)="modeChange($event)">
        </app-values-datagrid>

      </div>
      <div class="col-3">
        <div class="values-summary-wrapper">
          <app-selected-summary></app-selected-summary>
        </div>
        <div class="values-builder-wrapper">
          <app-values-builder></app-values-builder>
        </div>
      </div>
    </div>
  </div>
</div>
