@import '../../colors.scss';

.values {
  background-color: #2B2B2B;
  padding-bottom: 20px;
}

.buttons-bar-wrapper {
  margin: 0 auto;
  width: 90%;
}

.bible-verse {
  margin: 0 auto;
  width: 90%;
}

.datagrid-wrapper {
  margin: 0 auto;
  width: 90%;
}

.dxTemplateNumber {
  color: $appYellow;
}
