<ng-container *ngIf="activeColors.length">
  <div class="color-count">
    <div class="row">

      <!--suppress JSUnusedGlobalSymbols -->
      <ng-container *ngFor="let i of colIndentSize | range">
        <div class="col-1"></div>
      </ng-container>

      <ng-container *ngFor="let activeColor of activeColors">
        <div class="col-{{ colSize }}">
          <app-color-counter [color]="activeColor" [count]="colors[activeColor].count" [value]="colors[activeColor].value"></app-color-counter>
        </div>
      </ng-container>

    </div>
  </div>
</ng-container>
