<div class="color-count">
  <div class="row">
    <div class="col">
      <app-color-counter color="appRed" [count]="colors.appRed.count" [value]="colors.appRed.value"></app-color-counter>
    </div>
    <div class="col">
      <app-color-counter color="appYellow" [count]="colors.appYellow.count" [value]="colors.appYellow.value"></app-color-counter>
    </div>
    <div class="col">
      <app-color-counter color="appPink" [count]="colors.appPink.count" [value]="colors.appPink.value"></app-color-counter>
    </div>
    <div class="col">
      <app-color-counter color="appGreen" [count]="colors.appGreen.count" [value]="colors.appGreen.value"></app-color-counter>
    </div>
    <div class="col">
      <app-color-counter color="appOrange" [count]="colors.appOrange.count" [value]="colors.appOrange.value"></app-color-counter>
    </div>
    <div class="col">
      <app-color-counter color="appBlue" [count]="colors.appBlue.count" [value]="colors.appBlue.value"></app-color-counter>
    </div>
  </div>
</div>
