.dx-data-row.dx-state-hover {
  background-color: #edf6f9;

  td {
    color: #000 !important;
  }

  .dxTemplateNumber {
    color: #444;
  }
}

.values .Chapter .dx-data-row.dx-state-hover td {
  cursor: pointer;
}
