.dx-data-row.dx-state-hover {
  background-color: #edf6f9;

  td {
    color: #000 !important;
    cursor: pointer;
  }

  .dxTemplateNumber {
    color: #444;
  }
}

.dx-datagrid-search-text {
  background-color: transparent !important;
  color: lighten(#1ca8dd, 10%) !important;
}

.dxTemplateRowIndex {
  .dx-datagrid-search-text {
    color: #888 !important;
  }
}

.dx-data-row.dx-state-hover {
  .dx-datagrid-search-text {
    color: #000 !important;
  }
}
