$adjustForBigFooter: 31;

:host-context(.triangle-big.triangle-align-center) .triangles-wrapper {
  margin: 2px 0 ((84 + $adjustForBigFooter) + unquote("px"));
}

:host-context(.triangle-big.triangle-align-left) .triangles-wrapper {
  margin: -7px 0 ((77 + $adjustForBigFooter) + unquote("px"));
}

:host-context(.triangle-small.triangle-align-center) .triangles-wrapper {
  margin: 1px 0 ((71 + $adjustForBigFooter) + unquote("px"));
}

:host-context(.triangle-small.triangle-align-left) .triangles-wrapper {
  margin: -1px 0 ((71 + $adjustForBigFooter) + unquote("px"));
}

.triangle-outer-wrapper {
  text-align: center;
}

.triangle-inner-wrapper {
  display: inline-block;
}
