$adjustForBigFooter: 31;

// SMALL LEFT
:host-context(.triangle-small.triangle-align-left) .triangles-wrapper {
  margin: -1px 0 ((71 + $adjustForBigFooter) + unquote("px"));
}

// SMALL CENTER
:host-context(.triangle-small.triangle-align-center) .triangles-wrapper {
  margin: 1px 0 ((71 + $adjustForBigFooter) + unquote("px"));
}

// BIG LEFT
:host-context(.triangle-big.triangle-align-left) .triangles-wrapper {
  margin: -1px 0 ((71 + $adjustForBigFooter) + unquote("px"));
}

// BIG CENTER
:host-context(.triangle-big.triangle-align-center) .triangles-wrapper {
  margin: 7px 0 ((71 + $adjustForBigFooter) + unquote("px"));
}

.triangle-outer-wrapper {
  text-align: center;
}

.triangle-inner-wrapper {
  display: inline-block;
}
