<p-dialog [style]="{width: width + 'px'}"
          [visible]="display" [modal]="true" [appendTo]="'body'" [closeOnEscape]="false" [focusOnShow]="false"
          (onShow)="onShow()" (onHide)="onHide()" (visibleChange)="onHide()" [styleClass]="'reusable-modal'">
  <p-header>
    <img class="reusable-modal-image" *ngIf="imgSrc" [src]="imgSrc">
    <span>{{ modalTitle }}</span>
  </p-header>
  <div class="reusable-modal-content">
    <ng-content></ng-content>
  </div>
  <p-footer>
    <div class="reusable-modal-footer">
      <ng-content select=".app-modal-footer"></ng-content>
    </div>
  </p-footer>
</p-dialog>
