@import "colors.scss";

$navbarHeight: 58px;

.app-wrapper {
  height: 100%;

  .navbar-wrapper {
    height: $navbarHeight;
  }

  .router-outlet-wrapper {
    height: calc(100% - #{$navbarHeight});

    &.routerOutletDarkTheme {
      background-color: $themeDark;
    }
  }
}
