// http://scg.ar-ch.org

$bootswatchBtnDarkGradient: linear-gradient(#595959, #333 50%, #292929);
$bootswatchBtnDarkGradientHover: linear-gradient(#4f4f4f, #292929 50%, #1f1f1f);

$appActive: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
$appActiveWebkit: -webkit-linear-gradient(#000, #FFF);

$appBlack: #000;
$appGrey: #DDD;

$appRed: darken(#CA3433, 10%);
$appYellow: yellow;
$appPink: pink;
$appGreen: #4C7540;
$appOrange: darken(#FE6500, 5%);
$appPurple: purple;
$appBlue: darken(#4184A3, 5%);

.appActive {
  color: $appBlack;
  background: $appActiveWebkit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appActiveBg {
  background: $appActive;
}

.appBlack {
  color: $appBlack;
}

.appBlackBg {
  background-color: $appBlack;
}

.appGrey {
  color: $appGrey;
}

.appGreyBg {
  background-color: $appGrey;
}

.appRed {
  color: $appRed;
}

.appRedBg {
  background-color: $appRed;
}

.appYellow {
  color: $appYellow;
}

.appYellowBg {
  background-color: $appYellow;
}

.appPink {
  color: $appPink;
}

.appPinkBg {
  background-color: $appPink;
}

.appGreen {
  color: $appGreen;
}

.appGreenBg {
  background-color: $appGreen;
}

.appOrange {
  color: $appOrange;
}

.appOrangeBg {
  background-color: $appOrange;
}

.appPurple {
  color: $appPurple;
}

.appPurpleBg {
  background-color: $appPurple;
}

.appBlue {
  color: $appBlue;
}

.appBlueBg {
  background-color: $appBlue;
}

$themeDark: #2B2B2B;
