@import '../../../colors.scss';

button.paint-mode.active {
  background: $bootswatchBtnDarkGradientHover;
}

button.color.active {
  background: $bootswatchBtnDarkGradientHover;
}

$lineModeSize: 14px;

button.line-mode {
  background: url('/assets/icons/line-mode.png') no-repeat (7px center) / $lineModeSize, $bootswatchBtnDarkGradient;

  &:hover, &.active {
    background: url('/assets/icons/line-mode.png') no-repeat (7px center) / $lineModeSize, $bootswatchBtnDarkGradientHover;
  }
}

$fillModeSize: 15px;

button.fill-mode {
  background: url('/assets/icons/fill-mode.png') no-repeat center / $fillModeSize, $bootswatchBtnDarkGradient;

  &:hover, &.active {
    background: url('/assets/icons/fill-mode.png') no-repeat center / $fillModeSize, $bootswatchBtnDarkGradientHover;
  }
}

$rulerSize: 24px;

button.ruler {
  background: url('/assets/icons/ruler.png') no-repeat center / $rulerSize, $bootswatchBtnDarkGradient;

  &:hover, &.active {
    background: url('/assets/icons/ruler.png') no-repeat center / $rulerSize, $bootswatchBtnDarkGradientHover;
  }
}

$oddEvenSize: 14px;

button.odd {
  background: url('/assets/icons/odd.png') no-repeat center / $oddEvenSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/odd.png') no-repeat center / $oddEvenSize, $bootswatchBtnDarkGradientHover;
  }
}

button.even {
  background: url('/assets/icons/even.png') no-repeat center / $oddEvenSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/even.png') no-repeat center / $oddEvenSize, $bootswatchBtnDarkGradientHover;
  }
}

$triangleSize: 16px;

button.triangle-corners {
  background: url('/assets/icons/triangle.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-midpoints {
  background: url('/assets/icons/triangle.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-midpoints-plus {
  background: url('/assets/icons/triangle.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-center {
  background: url('/assets/icons/triangle.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

$starOfDavidSize: 15px;

button.triangle-star-of-david {
  background: url('/assets/icons/star-of-david.png') no-repeat center / $starOfDavidSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/star-of-david.png') no-repeat center / $starOfDavidSize, $bootswatchBtnDarkGradientHover;
  }
}
