.tea-wrapper {
  margin-top: 5px;
  // text-align: center;
}

.tea {
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -8px;
}

.spinner-wrapper {
  position: relative;
  top: -11px;
}

$activeColorWidth: 60;
$activeColorHeight: 29;
$activeColorBorderRadius: 5px;

.active-color {
  top: 10px;
  width: $activeColorWidth + unquote("px");
  height: $activeColorHeight + unquote("px");
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: $activeColorBorderRadius;
}

.active-color-1, .active-color-2 {
  width: ($activeColorWidth / 2 - 1) + unquote("px");
  height: ($activeColorHeight - 2) + unquote("px");
}

.active-color-1 {
  float: left;
  border-top-left-radius: $activeColorBorderRadius;
  border-bottom-left-radius: $activeColorBorderRadius;
}

.active-color-2 {
  float: right;
  border-top-right-radius: $activeColorBorderRadius;
  border-bottom-right-radius: $activeColorBorderRadius;
}

button.line-mode {
  background-image: url('/assets/icons/line-mode.png');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;

  &:hover, &.active {
    background-image: url('/assets/icons/line-mode-hover.png');
  }
}

button.fill-mode {
  background-image: url('/assets/icons/fill-mode.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 6px 7px;

  &:hover, &.active {
    background-image: url('/assets/icons/fill-mode-hover.png');
  }
}

button.odd {
  background-image: url('/assets/icons/odd.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 7px 7px;

  &:hover, &.active {
    background-image: url('/assets/icons/odd-hover.png');
  }
}

button.even {
  background-image: url('/assets/icons/even.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 6px 7px;

  &:hover, &.active {
    background-image: url('/assets/icons/even-hover.png');
  }
}

.mode {
  position: relative;
  top: 4px;
  left: 1px;
}

.sep1 {
  margin-top: -1px;
  margin-bottom: 10px;
}

.sep2 {
  margin-top: 2px;
  margin-bottom: 10px;
}

.select-counter-values {
  margin-bottom: 5px;
}

.activate-counters {
  margin-top: 10px;
  margin-bottom: 5px;
}

.star {
  margin-top: 15px;
  text-align: center;
  color: #FADA5F;
  text-shadow: 5px 5px 8px #999;

  .term {
    margin-top: -48px;
    font-weight: bold;
    font-size: 13px;
    color: #444;
    text-shadow: none;
  }
}
