<div class="toolbox">
  <div class="triangle-toolbox">

    <!-- T Selector -->
    <div class="tea-wrapper">
      <span class="tea">T</span>
      <span class="spinner-wrapper">
        <p-spinner maxlength="4" [size]="5" [min]="1" [max]="1001" [ngModel]="rowCount" (ngModelChange)="onRowCountChange($event)"
                   [inputStyle]="{'padding': '0 5px', 'font-size': '18px', 'font-weight': 'bold'}"></p-spinner>
      </span>
      <!-- Active color -->
      <div class="active-color" [ngClass]="color + '-bg'"></div>
    </div>

    <hr class="sep1">

    <!-- Mode buttons -->
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2 mb-2" role="group">
        <button class="btn btn-outline-dark btn-sm" title="Paint Mode" [class.active]="mode==='paint'" (click)="onChangeModeClick('paint')">
          <i class="fa fa-paint-brush" aria-hidden="true"></i>
        </button>
        <button class="btn btn-outline-dark btn-sm image-icon line-mode" title="Line Mode" [class.active]="mode==='line'"
                (click)="onChangeModeClick('line')"></button>
        <button class="btn btn-outline-dark btn-sm image-icon fill-mode" title="Fill Mode" [class.active]="mode==='fill'"
                (click)="onChangeModeClick('fill')"></button>
      </div>
      <span class="mode">{{ mode | titlecase }}</span>
    </div>

    <hr class="sep2">

    <!-- Function buttons -->
    <div class="btn-toolbar" role="toolbar">

      <div class="btn-group mr-2 mb-2" role="group">
        <button class="btn btn-outline-dark btn-sm" title="Toggle Align" (click)="onToggleAlign()">
          <i class="fa" [ngClass]="alignCenter ? 'fa-align-center' : 'fa-align-left'" aria-hidden="true"></i>
        </button>
      </div>

      <ng-container *ngIf="mode === 'line'">
        <div class="btn-group mr-2 mb-2" role="group">
          <button class="btn btn-outline-dark btn-sm" title="Draw Lines" (click)="onDrawLinesClick()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-dark btn-sm" title="Erase Lines" (click)="onEraseLinesClick()">
            <i class="fa fa-eraser" aria-hidden="true"></i>
          </button>
        </div>

        <div class="btn-group mr-2 mb-2" role="group">
          <button class="btn btn-outline-dark btn-sm" title="Clear Active" (click)="onClearActiveClick()">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-dark btn-sm" title="Clear Selected" (click)="onClearSelectedClick()">
            <i class="fa fa-circle app-grey" aria-hidden="true"></i>
          </button>
        </div>
      </ng-container>
    </div>

    <hr class="sep2">

    <!-- Color buttons -->
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2 mb-2" role="group">
        <button class="btn btn-dark btn-sm" (click)="onChangeColorClick('app-red')">
          <i class="fa fa-circle app-red" aria-hidden="true"></i>
        </button>
        <button class="btn btn-dark btn-sm" (click)="onChangeColorClick('app-yellow')">
          <i class="fa fa-circle app-yellow" aria-hidden="true"></i>
        </button>
        <button class="btn btn-dark btn-sm" (click)="onChangeColorClick('app-pink')">
          <i class="fa fa-circle app-pink" aria-hidden="true"></i>
        </button>
        <button class="btn btn-dark btn-sm" (click)="onChangeColorClick('app-green')">
          <i class="fa fa-circle app-green" aria-hidden="true"></i>
        </button>
        <button class="btn btn-dark btn-sm" (click)="onChangeColorClick('app-orange')">
          <i class="fa fa-circle app-orange" aria-hidden="true"></i>
        </button>
        <!-- <button class="btn btn-dark btn-sm" (click)="onChangeColorClick('app-purple')"> -->
        <!--   <i class="fa fa-circle app-purple" aria-hidden="true"></i> -->
        <!-- </button> -->
        <button class="btn btn-dark btn-sm" (click)="onChangeColorClick('app-blue')">
          <i class="fa fa-circle app-blue" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <hr class="sep2">

    <!-- Activate counters dropdown -->
    <div class="activate-counters">
      <p-dropdown [options]="activateCountersOptions" [(ngModel)]="activateCountersOption" (onChange)="activateCounters($event)"
                  [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-dropdown>
    </div>
  </div>

  <!-- Star of David -->
  <ng-container *ngIf="starOfDavid">
    <div class="star">
      <i class="fa fa-star fa-5x" aria-hidden="true" [title]="'T' + rowCount + ' houses a star of David (S' + starOfDavid.n + ') perfectly'"></i>
      <div class="term" [title]="'T' + rowCount + ' houses a star of David (S' + starOfDavid.n + ') perfectly'">{{ starOfDavid.term }}</div>
    </div>
  </ng-container>
</div>
