.select-counters {
  margin-top: 10px;
  margin-bottom: 6px;
}

.star {
  margin-top: 15px;
  text-align: center;
  color: #FADA5F;
  text-shadow: 5px 5px 8px #999;

  .term {
    margin-top: -48px;
    font-weight: bold;
    font-size: 13px;
    color: #444;
    text-shadow: none;
  }
}
