.triangle-toolbox {
  background-color: #444;
}

.tea-wrapper {
  margin-top: 5px;
  margin-bottom: 1px;
}

.tea {
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: -8px;
  color: #FFF;
}

.spinner-wrapper {
  position: relative;
  top: -10px;
}

$activeColorWidth: 60;
$activeColorHeight: 29;
$activeColorBorderRadius: 5px;

.active-color {
  top: 10px;
  width: $activeColorWidth + unquote("px");
  height: $activeColorHeight + unquote("px");
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #FFF;
  border-radius: $activeColorBorderRadius;
}

.active-color-1, .active-color-2 {
  width: ($activeColorWidth / 2 - 1) + unquote("px");
  height: ($activeColorHeight - 2) + unquote("px");
}

.active-color-1 {
  float: left;
  border-top-left-radius: $activeColorBorderRadius;
  border-bottom-left-radius: $activeColorBorderRadius;
}

.active-color-2 {
  float: right;
  border-top-right-radius: $activeColorBorderRadius;
  border-bottom-right-radius: $activeColorBorderRadius;
}

.mode {
  position: relative;
  top: 4px;
  left: 1px;
  color: #FFF;
  font-size: 0.9em;
}

.sep1, .sep2 {
  background-color: #666;
}

.sep1 {
  margin-top: -1px;
  margin-bottom: 10px;
}

.sep2 {
  margin-top: 2px;
  margin-bottom: 10px;
}

.cross-on-top, .cross-on-top-inverse {
  position: absolute;
  top: 7px;
  left: 8px;
  font-size: 15px;
}

.cross-on-top {
  color: #000;
  opacity: 0.4;
}

.cross-on-top-inverse {
  color: #333;
  opacity: 1;
}

.hexagon-dots {
  position: absolute;
  margin-top: 5px;
  right: 17px;
  height: 47px;
  animation: fader 2s 5s forwards;
}

@keyframes fader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.select-counter-values {
  margin-bottom: 10px;
}

.paint-mode, .fill-mode {
  .select-counter-values {
    margin-bottom: 5px;
  }

  .value-related-buttons {
    margin-top: 10px;
    margin-bottom: -3px;
  }
}

.star {
  margin-top: 15px;
  text-align: center;
  color: #FADA5F;
  text-shadow: 5px 5px 8px #999;

  .term {
    margin-top: -48px;
    font-weight: bold;
    font-size: 13px;
    color: #444;
    text-shadow: none;
  }
}
