@import '../../../colors.scss';

button.paint-mode.active {
  background: $bootswatchBtnDarkGradientHover;
}

button.color.active {
  background: $bootswatchBtnDarkGradientHover;
}

$lineModeSize: 14px;

button.line-mode {
  background: url('/assets/icons/line-mode.png') no-repeat (7px center) / $lineModeSize, $bootswatchBtnDarkGradient;

  &:hover, &.active {
    background: url('/assets/icons/line-mode.png') no-repeat (7px center) / $lineModeSize, $bootswatchBtnDarkGradientHover;
  }
}

$fillModeSize: 15px;

button.fill-mode {
  background: url('/assets/icons/fill-mode.png') no-repeat center / $fillModeSize, $bootswatchBtnDarkGradient;

  &:hover, &.active {
    background: url('/assets/icons/fill-mode.png') no-repeat center / $fillModeSize, $bootswatchBtnDarkGradientHover;
  }
}

$rulerSize: 24px;

button.ruler {
  background: url('/assets/icons/ruler.png') no-repeat center / $rulerSize, $bootswatchBtnDarkGradient;

  &:hover, &.active {
    background: url('/assets/icons/ruler.png') no-repeat center / $rulerSize, $bootswatchBtnDarkGradientHover;
  }
}

$oddEvenSize: 14px;

button.odd {
  background: url('/assets/icons/odd.png') no-repeat center / $oddEvenSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/odd.png') no-repeat center / $oddEvenSize, $bootswatchBtnDarkGradientHover;
  }
}

button.even {
  background: url('/assets/icons/even.png') no-repeat center / $oddEvenSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/even.png') no-repeat center / $oddEvenSize, $bootswatchBtnDarkGradientHover;
  }
}

$threeSize: 16px;

button.three {
  background: url('/assets/icons/three.png') no-repeat (center 8px) / $threeSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/three.png') no-repeat (center 7px) / $threeSize, $bootswatchBtnDarkGradientHover;
  }
}

$triangleSize: 18px;

button.triangle-corners {
  background: url('/assets/icons/triangle-corners.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle-corners.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-midpoints {
  background: url('/assets/icons/triangle-midpoints.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle-midpoints.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-midpoints-plus {
  background: url('/assets/icons/triangle-midpoints-plus.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle-midpoints-plus.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-center {
  background: url('/assets/icons/triangle-center.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle-center.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-side-all {
  background: url('/assets/icons/triangle-side-all.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle-side-all.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-side-left {
  background: url('/assets/icons/triangle-side-left.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle-side-left.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-side-base {
  background: url('/assets/icons/triangle-side-base.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle-side-base.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

button.triangle-side-right {
  background: url('/assets/icons/triangle-side-right.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/triangle-side-right.png') no-repeat center / $triangleSize, $bootswatchBtnDarkGradientHover;
  }
}

$starOfDavidSize: 16px;

button.triangle-star-of-david {
  background: url('/assets/icons/star-of-david.png') no-repeat center / $starOfDavidSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/star-of-david.png') no-repeat center / $starOfDavidSize, $bootswatchBtnDarkGradientHover;
  }
}

$centeredTriangleSize: 16px;

button.centered-triangle {
  background: url('/assets/icons/centered-triangle.png') no-repeat center / $centeredTriangleSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/centered-triangle.png') no-repeat center / $centeredTriangleSize, $bootswatchBtnDarkGradientHover;
  }
}

$sixArrowsSize: 28px;

button.six-arrows-left-right {
  background: url('/assets/icons/six-arrows-left-right.png') no-repeat center / $sixArrowsSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/six-arrows-left-right.png') no-repeat center / $sixArrowsSize, $bootswatchBtnDarkGradientHover;
  }
}

button.six-arrows-up-down {
  background: url('/assets/icons/six-arrows-up-down.png') no-repeat center / $sixArrowsSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/six-arrows-up-down.png') no-repeat center / $sixArrowsSize, $bootswatchBtnDarkGradientHover;
  }
}

$hebrewLettersSize: 12px;

button.tav {
  background: url('/assets/icons/tav.png') no-repeat center / $hebrewLettersSize, $bootswatchBtnDarkGradient;

  &:hover {
    background: url('/assets/icons/tav.png') no-repeat center / $hebrewLettersSize, $bootswatchBtnDarkGradientHover;
  }
}
