@import './app/colors.scss';
@import './styles/sticky.scss';
@import './styles/dx.scss';

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  min-width: 1000px;
}

html > body {
  color: #999;
}

.toolbox {
  right: 12px;
}

.statsbox {
  left: 12px;
}

@media(max-width: 1000px) {
  .toolbox, .statsbox {
    display: none;
  }
}

.toolbox, .statsbox {
  width: 210px;
  position: fixed;
  top: 120px;
}

.triangle-toolbox, .triangle-statsbox {
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid #999;
}

.ngx-toastr {
  width: 700px !important;
}

button.btn-sm.image-icon {
  width: 30px;
  height: 31px;
}

button.btn-lg.image-icon {
  width: 51px;
  height: 48px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.clickable {
  cursor: pointer;
}

.fa-spin-slow {
  animation: fa-spin 8s infinite linear;
}

.table.table-hover tbody {
  .selected {
    background-color: $appRed !important;
  }

  tr:hover {
    color: #444 !important;
    background-color: #edf6f9 !important;
    font-weight: bold;
    cursor: pointer;
  }
}

.modal-content {

  .close {
    outline: none;
  }

  .modal-header {
    background-color: #EEE;
  }

  .modal-footer {

    background-color: #F7F7F7;

    button {
      margin-left: 8px;
    }
  }
}

.ui-dialog-titlebar.ui-widget-header {
  cursor: grab;
}

.buttons-bar-wrapper {
  .buttons-left {
    .btn {
      margin-right: 10px;
    }
  }

  .buttons-right {
    .btn {
      margin-left: 10px;
    }
  }
}

.user-select-none {
  user-select: none;
}

.fake-link {
  text-decoration: underline;
  cursor: pointer;
}
