<nav class="navbar navbar-expand navbar-dark bg-dark bg-custom fixed-top">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/constants">Contact Us</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/triangles">Triangles</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/values">Values</a>
    </li>
  </ul>
  <ul class="navbar-nav navbar-right">
    <ng-container *ngIf="router.url === '/triangles' || router.url.startsWith('/triangles/') || router.url === '/triangles-list' || router.url === '/values'">
      <li>
        <div class="breakdown-wrapper">
          <label (click)="toggleBreakdown()">Breakdown</label>
          <p-checkbox binary="true" [(ngModel)]="breakdown" (onChange)="onBreakdownChange()"></p-checkbox>
        </div>
      </li>
    </ng-container>
    <ng-container *ngIf="router.url === '/triangles' || router.url.startsWith('/triangles/')">
      <li>
        <a class="list" [routerLink]="['/triangles-list']">
          <img alt="Triangles List" class="navbar-icon" src="/assets/icons/list.png">
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="isFullscreen !== true">
      <li>
        <img alt="Fullscreen" class="navbar-icon" src="/assets/icons/fullscreen.png" (click)="fullscreen()">
      </li>
    </ng-container>
  </ul>
</nav>

<div class="under-nav"></div>
